[Unit]
Description=Randomize wallpapers on every monitor uniquely with awww
PartOf=graphical-session.target

[Service]
ExecStart=/home/aj/.shell-scripts/awww_randomize_multi.sh /home/aj/.wallpapers/active 60
Restart=on-failure

[Install]
WantedBy=graphical-session.target
